<a href="https://colab.research.google.com/github/mins2024/midterm24/blob/main/202258111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Midterm24**:Seo min young(202258111)

In [1]:
#@markdown

name = input("What is your name?")

print("*"*30)
print(f"Welcom, {name}!", "\n\n")

What is your name?Marry
******************************
Welcom, Marry!

In [5]:
x = "My name is"
y = "your name"

In [6]:
print(x)
print(y)

My name is
your name

In [10]:
y = "minyoung."

In [11]:
print (x)
print (y)

My name is
minyoung.

##Variable Question

In [4]:
# Enter the provided text below.
# 'Mary, 1998, Ohio; and John, 1999, Boston.'

# Assigning variables using the input function.
x = input("name: ")
y = input("born in: ")
z = input("hometown: ")

# Displaying the gathered information.
output_message = f"Hello, my name is {x}. I was born in {y}, and I'm from {z}. Nice to meet you."
print(output_message)

name: Mary
born in: 1998
hometown: Ohio
Hello, my name is Mary. I was born in 1998, and I'm from Ohio. Nice to meet you.

##Index Question

In [5]:
cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Third

##GTTS Question

In [10]:

!pip install gTTS


from gtts import gTTS


te

Requirement already satisfied: gTTS in /usr/local/lib/python3.10/dist-packages (2.5.1)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.10/dist-packages (from gTTS) (2.31.0)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.10/dist-packages (from gTTS) (8.1.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.27->gTTS) (2024.2.2)

NameError: name 'te' is not defined

In [9]:
# Text to be converted to speech
text = "I have succeeded in this task."

# Language in which you want to convert
language = 'en'

# Pass the text and language to the gTTS module
speech = gTTS(text = text, lang = language, slow = False)

# Save the converted audio file
speech.save("output.mp3")

# Display the audio directly in the notebook
display(Audio("output.mp3", autoplay=True))

NameError: name 'Audio' is not defined

###Dictionary Question

## Function Question

In [12]:

def divide(x, y):
    return x / y

result = devide(20, 4)
print("The result of devide is:", result)

NameError: name 'devide' is not defined

In [ ]:
def divide(x, y):
    return x / y
    result = devide(x, y)
print("The result of devide is:", result)

In [16]:
x = 20
y = 4
print("The result of devide is:", result)

NameError: name 'result' is not defined