<a href="https://colab.research.google.com/github/mins2024/midterm24/blob/main/202258111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Midterm24**:Seo min young(202258111)

In [1]:
#@markdown

name = input("What is your name?")

print("*"*30)
print(f"Welcom, {name}!", "\n\n")

What is your name?Marry
******************************
Welcom, Marry!

In [5]:
x = "My name is"
y = "your name"

In [6]:
print(x)
print(y)

My name is
your name

In [10]:
y = "minyoung."

In [11]:
print (x)
print (y)

My name is
minyoung.

##Variable Question

In [4]:
# Enter the provided text below.
# 'Mary, 1998, Ohio; and John, 1999, Boston.'

# Assigning variables using the input function.
x = input("name: ")
y = input("born in: ")
z = input("hometown: ")

# Displaying the gathered information.
output_message = f"Hello, my name is {x}. I was born in {y}, and I'm from {z}. Nice to meet you."
print(output_message)

name: Mary
born in: 1998
hometown: Ohio
Hello, my name is Mary. I was born in 1998, and I'm from Ohio. Nice to meet you.

##Index Question

In [5]:
cardinal_number = "2" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "Second", "Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Third